body{
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.maindiv{
    background-color: white;
    color: black;
    width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 25px;
}
form{
    display: table;
}
p{
    display: table-row;
}
label {
    display: table-cell;
    width: 100px;
    text-align: right;
    padding-right: 5px;
}
input{
    display: table-cell;
    /* margin-left: 10px; */
}
#principal{
    margin-bottom: 10px;
}
#rate{
    margin-bottom: 15px;
}
select{
    display: table-cell;
    /* margin-top: 10px; */
}
output{
    display: inline-block;
}
/* hide this element initially */
#result{
    display: none;
}
/* add formatting to the calculated values */
mark{
    background-color: yellow;
}
footer{
    margin-top: 5px;
}