body{
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.maindiv{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    margin: auto;
    border-radius: 25px;
}
/* hide this element initially */
#result{
    display: none;
}
/* add formatting to the calculated values */
.highlighted{
    background-color: yellow;
}